.products {
	width: 65%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 5%;

  .card {
    width: 100%;
	  margin: 15px;
	  text-align: center;

    @media only screen and (min-width: 860px) { width: 20%;
    }
  }
}
