@import "src/styles.scss";
form {
  margin: 25px;

  .form-group {
      margin-top: 25px;
  }

  label {
      display: block;
  }

  .ng-valid  {
      border-left: 5px solid #42a9a0;
    }

  .ng-invalid:not(form)  {
      border-left: 5px solid #be7e29;
  }
}

/* RESPONSIVE
   ========================================================================= */
/* Moviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
.section_signup{
  margin: 15px auto;
}

.signup_box {
	width: 50%;
	margin: 1em auto;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 0px 0px 8px 2px $color_5;
	padding: 3em;
	min-height: 300px;
}

.signup_form_label {
  display: block;
	font-size: 98%;
	word-spacing: -0.4pt;
	display: block;
	width: 80%;
}

.signup_form_input-text {
	padding: 10px;
	font-size: 110%;
	border: solid 2px $color_5;
  border-radius: 10px;
	transition: border 0.3s;
  width: 100%;
	&:focus {
		border-bottom: solid 2px $color_5;
	}
}
.signup_button {
	width: 80%;
	height: 50px;
	background-color: $background-color_4;
	margin: 20px auto;
	display: block;
	color: $color_3;
	border: none;
	border-radius: 6px;
	font-size: 110%;
	box-shadow: 0px 0px 8px 2px $color_2;
	cursor: pointer;
	&:hover {
		transition: .35s ease-in-out;
		background-color: $background-color_8;
	}
	&:active {
		transition: .35s ease-in-out;
		background-color: $background-color_4;
	}
  &:disabled{
    color: $color_3;
		background-color: $background-color_2;
  }
}


@media (min-width: 768px) {
	.signup_box {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.signup_box {
		width: 60%;
    padding: 0;
    margin: auto;
    display: inline-flex;
    float: center;
    position: absolute;
    min-width: calc(100vh - 618px);
    min-height: 200px;
	}
}
