@import "src/styles.scss";


header{
  text-align: left;

}

section{
  display: block;
  margin: 0 auto;
  width: 60%;

}
h1.title{
  margin-top: 50px;
  display: block;
  position: relative;
  margin-bottom: 25px;
  color: purple;


}

section img.nosotros{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 100px;
  position: relative;

}

section img.mundo{
  display: inline-block;
  margin-top: 10px;
  position: relative;
  width: 100%;

}

p.text{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  font-weight: 500;

}
