<Header>
  <h1 class="title">Sobre nosotros, ModaStyle</h1>

  
</Header>
<Section>
  <P class="text">ModaStyle es una empresa dedicada a la moda que se enfoca en ofrecer prendas de vestir de alta calidad y estilo único para hombres y mujeres.
    Nos especializamos en la creación de colecciones de ropa moderna y vanguardista que reflejan las últimas tendencias de la industria.</P>

    <img class="mundo" src="./assets/img/nosotros.jpg" alt="Imagen de una Abrigo">

  <p class="text">Nuestro objetivo es brindar a nuestros clientes una experiencia de compra excepcional, ofreciendo productos que combinan calidad, comodidad y diseño.
    Trabajamos con diseñadores talentosos y utilizamos materiales de primera calidad para garantizar la satisfacción de nuestros clientes.

    En ModaStyle, creemos en la importancia de la individualidad y la expresión personal a través de la moda.
    Nuestras prendas están diseñadas para realzar la confianza y el estilo único de cada individuo, permitiéndoles destacar en cualquier ocasión.</p>
</Section>
