@import "src/styles.scss";


header{
  text-align: center;

}

section{
  display: block;
  margin: 0 auto;
  width: 60%;

}
h1.title{
  margin-top: 50px;
  display: block;
  position: relative;
  margin-bottom: 25px;
  color: rgb(255, 0, 150);


}

section img.nosotros{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 100px;
  position: relative;

}

section img.mundo{
  display: inline-block;
  margin-top: 10px;
  position: relative;
  width: 100%;

}

p.text{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: justify;
  font-weight: 500;

}
