/* You can add global styles to this file, and also import other style files */
$font-family_1: 'Montserrat', sans-serif;
$color_1: rgb(255, 69, 100);
$color_2: rgba(0, 0, 0, 0.35);
$color_3: white;
$color_4: wheat;
$color_5: #c9c9c9;
$color_6: red;
$background-color_1: white;
$background-color_2: rgb(207, 203, 203);
$background-color_3: black;
$background-color_4: rgb(255, 69, 100);
$background-color_5: rgb(212, 208, 208);
$background-color_6: rgb(155, 152, 152);
$background-color_7: rgb(197, 180, 180);
$background-color_8: rgb(187, 26, 53);

* {
	box-sizing: border-box;
}
body {
	padding: 15px;
	font-family: $font-family_1;
}
.body {
	background-color: $background-color_2;
}
.content {
	width: 70%;
	margin: 0 auto;
	background-color: $background-color_1;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
