/* You can add global styles to this file, and also import other style files */
$font-family_1: 'Montserrat', sans-serif;
$color_1: gold;
$color_2: green;
$color_3: white;
$color_4: orange;
$color_5: grey;
$color_6: blue;
$background-color_1: white;
$background-color_2: yellow;
$background-color_3: green;
$background-color_4: gold;
$background-color_5: purple;
$background-color_6: grey;
$background-color_7: orange;
$background-color_8: blue;

* {
	box-sizing: border-box;
}
body {
	padding: 20px;
	font-family: $font-family_1;
}
.body {
	background-color: black;
}
.content {
	width: 70%;
	margin: 0 auto;
	background-color: white;
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: 'Eras Light ITC', sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: 'Eras Light ITC', sans-serif; }
