@import "src/styles.scss";

#navbar-categorias{
  margin-bottom: 50px;
}

#nav-items{
  top: 10%;
  position: absolute;
  justify-content: right;
  text-align: right;
  display: flex;
  width: 100%;
  background-color: $background-color_2;
  right: 0%;
  font-style: italic;
  margin-bottom: 10px;
}


ul>li.active{
  font-weight: bold;
  color: $color_1;
}

li a.nav-link:hover{
  background-color: $background-color_6;
  color: $color_3;
}
