<section >
  <mat-card-content class="card-content" *ngIf="article" [routerLink]="['/ficha', article.getId()]">

  <a><img class="mat-card-image" src={{article.getImage()}} [alt]="article.getTitulo()">
    <p class="card-title">
      {{article.getTitulo()}}
    </p>
    <div class="precio">
      <label class="class-price" [ngClass]="{'rebajas':article.getRebaja()}"> {{article.getPrecio() | currency:'EUR':'symbol':'1.2-2':'es'}}</label >
        <ng-template [ngIf]="article.getRebaja()">
        <label class="rebaja">{{article.getRebaja() | currency:'EUR':'symbol':'1.2-2':'es'}}</label>
        </ng-template>
    </div></a>
    <div id="group">
      <i class="fas fa-heart" [ngClass]="{'favorito':article.getFavorite()}"></i>
    </div>
  </mat-card-content>

  </section>
