<section >
  <mat-card-content class="card-content" *ngIf="article" [routerLink]="['/ficha', article.getId()]">

    <a><img class="mat-card-image" [src]="'data:image/webp;base64,' + article.getImage()" [alt]="article.getName()">

    <p class="card-title">
      {{article.getName()}}
    </p>
    <div class="precio">
      <label class="class-price" [ngClass]="{'rebajas':article.getReduced()}"> {{article.getPrice() | currency:'EUR':'symbol':'1.2-2':'es'}}</label >
        <ng-template [ngIf]="article.getReduced()">
        <label class="rebaja">{{article.getReduced() | currency:'EUR':'symbol':'1.2-2':'es'}}</label>
        </ng-template>
    </div></a>
    <div id="group">
      <i class="fas fa-heart" [ngClass]="{'favorito':article.getFavorite()}"></i>
    </div>
  </mat-card-content>

  </section>
