<h1>Ficha de artículo</h1>
{{ mode }} // {{ itemId }}

<form *ngIf="item" #itemForm="ngForm" name="itemForm" role="form" novalidate autocomplete="off">

    <!-- Id: solo visible si estamos en edición (pero no será editable) -->
    <div class="form-group">
        <label for="id">Id</label>
        <input disabled type="number" [(ngModel)]="item.id" name="id" class="form-control" id="id" #id="ngModel">
    </div>

    <!-- Categoria Id:  -->
    <div class="form-group">
        <label for="categoryId">Categoria</label>
        <p-autoComplete [(ngModel)]="selectedCategory" name="selectedCategory" [suggestions]="categories" 
        (completeMethod)="getAllCategories($event)" field="name" (onSelect)="categorySelected()" (onClear)="categoryUnselected()" 
        [required]="true" [forceSelection]="true"></p-autoComplete>
    </div>

    <!-- Nombre -->
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" [(ngModel)]="item.name" name="name" class="form-control" id="name" #name="ngModel" required="true" minlength="3" maxlength="100">
    </div>
    <div *ngIf="(name.dirty && name.errors)">
        <small class="form-text text-danger" *ngIf="name.errors['required']">
            Este capo es requerido
        </small>
        <small class="form-text text-danger" *ngIf="name.errors['minlength']">
            Este capo es demasiado corto (min 3 caracteres)
        </small>
        <small class="form-text text-danger" *ngIf="name.errors['maxlength']">
            Este campo es demasiado largo (max 100 caracteres)
        </small>
    </div>

    <!-- Descripción -->
    <div class="form-group">
        <label for="description">Descripción</label>
        <input type="text" [(ngModel)]="item.description" name="description" class="form-control" id="description" #description="ngModel" maxlength="2000">
    </div>

    <!-- Precio -->
    <div class="form-group">
        <label for="price">Precio</label>
        <input type="number" [(ngModel)]="item.price" name="price" class="form-control" id="price" #price="ngModel" required="true" min="0">
    </div>

    <div *ngIf="(price.dirty && price.errors)">
        <small class="form-text text-danger" *ngIf="price.errors['required']">
            Este capo es requerido
        </small>

        <small class="form-text text-danger" *ngIf="price.errors['min']">
            El valor debe ser positivo
        </small>
    </div>

    <!-- Imagen -->
    <div class="form-group">
        <label for="image">Imagen (base 64)</label>
        <input type="file" id="image" class="form-control" (change)="includeImageInItem($event)">
        <img *ngIf="item.image" [src]="'data:image/jpeg;base64,' + item.image">
    </div>

    <div class="buttonsForm">
        <button class="btn btn-primary" (click)="saveItem()" [disabled]="itemForm.invalid">Guardar</button>
    </div>

</form>